Package: com.leglessnograd.slideip
Name: SlideIP
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Charlie Knight
Author: Charlie Knight
Section: Tweaks
